.page-announcement {
    .single-announcement {
        padding: 20px;

        .title {
            font-size: 16px;
            font-weight: 800;
            margin-bottom: 4px;
        }

        .content {
            font-size: 14px;
            color: #999;
            margin-bottom: 18px;
            max-width: 280px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .announcement-info {
            display: flex;
            justify-content: flex-start;
            font-size: 14px;
            color: #999;
            .name{
                margin-right: 28px;
            }
        }
    }
    .post-btn{
        background-color: black;
        border-radius: 50%;
        width: 54px;
        height: 54px;
        position: fixed;
        right: 20px;
        bottom: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
