.page-directory {
    .header-section{
        .top-title{
            flex-grow: 1;
        }
        .search-icon{
        }
        .map-icon{
            margin-right: 20px;
            cursor: pointer;
        }
    }
}
