.post-announcement{
    
.input-container {
    padding: 16px 20px 10px 20px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    .navbar-back-arrow {
        background: url("../resource/back-arrow.svg");
        width: 24px;
        height: 24px;
        margin-right: 4px;
        cursor: pointer;
    }

}

input {
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    width: 100%;
    margin-right: 14px;
    padding: 6px 0;
    margin-top: 110px;

    &:active, &:focus {
        border-bottom: 1px solid #111;
    }
}

textarea {
    border: none;
    border-radius: 0;
    font-size: 14px;
    width: 100%;
    outline: none;
    margin-top: 80px;
}

.post-announcement-title {
    position: absolute;
    margin-top: 85px;
}

.post-announcement-content {
    position: absolute;
    margin-top: 35px;
}

.send-announcement {
    width: 40px;
    font-size:14px;
    color:white;
    border:1px #333 solid;   
    padding:10px;
    background-color:black;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    cursor: pointer;
  }  
}