.page-search-nearby-results {

    .nearby-help-center{
        padding-top: 64px;
    }

    .no-help-center{
        font-weight: bold;
    }

    .single-search-item {
        padding: 20px;
    
        .entity-name {
            font-size: 16px;
            font-weight: 800;
            margin-bottom: 4px;
        }
    
        .nearby-item-address {
            font-size: 14px;
            color: #999;
            margin-bottom: 18px;
            max-width: 280px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .nearby-search-content {
            float: left;
        }

        .add-pref-btn{
            content:url(../resource/plus-icon.svg);
            width: 30px;
            height: 30px;
            margin-left: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    .search-label {
        text-align: center;
        font-weight: bold;
        padding-right: 40px;
        font-size: 22px;
    }
    .search-options {
        width: 340px;
        align-items: center;
        margin: 0 auto;
        display: flex;

        .checkbox {
            width: 12px;
            height: 12px;
            border: 2px solid #000;
            box-sizing: border-box;
            margin-right: 8px;
        }

        .text {
            margin-right: 20px;
            font-weight: 800;
            font-size: 16px;
        }
    }
    .search-icon {
        cursor: pointer;
    }
}
