.page-shareList {
    font-family: Avenir-Medium;

    .navbar-header{
        margin-left: 20px;
        .navbar-title {
            font-size: 32px;
        }

        .navbar-back-arrow {
            width: px;
            height: 24px;
            margin-right: 4px;
            cursor: pointer;
            margin-top: 8px;
        }
    }

    #user-directory{
        margin-top: 71px;
    }

    .selectedButton{
        width: 35px;
        height: 22px;
        background-color: #D8D8D8;
        border-radius: 5px;
        margin: auto 0;
        margin-right: 46px;
    }

    .userContainer{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
    }

    .choice {
        float: left;
        margin-left: 93px;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .cancel-button {
        opacity: 0.6;
        font-weight: 600;
    }

    .update-button {
        color: #1983FF;
        font-weight: 600;
    }
}
