<div class="component status-pop-card" id="status-pop-card">
    <div class="head-container">
        <div class="title" id="status-pop-card-title">Share My Status</div>
    </div>
    <div class="status-card green" name="share-status">
        <div class="card-title" id="status-ok">OK</div>
        <div class="card-desc">I‘m OK, I do not need help.</div>
    </div>
    <div class="status-card red" name="share-status">
        <div class="card-title" id="status-em">Emergency</div>
        <div class="card-desc">I need help now: this is a life threatening emergency!</div>
    </div>
    <div class="status-card yellow" name="share-status">
        <div class="card-title" id="status-help">Help</div>
        <div class="card-desc">I need help, but this is not a life threatening emergency.</div>
    </div>
    <div class="status-card gray" name="share-status">
        <div class="card-title" id="status-no">No Status</div>
        <div class="card-desc">The user has not provided any status info.</div>
    </div>
</div>
<div class="black-cover" id="black-cover"></div>
