<div class="page-chats">
    <div class="header-section">
        <h1 class="top-title">Chats</h1>
        <img class="search-icon" src="../resource/search.svg"/>
    </div>
    <div id="all-chats">
        <div class="single-chat common-list-item" id="public-chat-entrance">
            <div class="avatar public-wall">Public</div>
            <div class="chat-info">
                <div class="title">Public Wall</div>
            </div>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-chat common-list-item">
            <div class="avatar"></div>
            <div class="chat-info">
                <div class="title">Annie</div>
                <div class="latest-info">
                    <div class="message">Where are you now?</div>
                    <div class="time">09/02 12:30</div>
                </div>
            </div>
        </div>
        <div class="right-thin-line"></div>
    </div>
    <div class="_blank_80height"></div>
</div>
