<div class="page-login page">
    <h1 class="top-title">Welcome Back!</h1>
    <div class="dash-under-title"></div>
    <div class="form-item">
        <div class="title">User Name</div>
        <div class="input-container">
            <input class="input" type="text" id="username-input"/>
        </div>
        <div class="underline"></div>
    </div>
    <div class="form-item login-last-item">
        <div class="title">Password</div>
        <div class="input-container">
            <input class="input" type="password" id="password-input"/>
        </div>
        <div class="underline"></div>
    </div>
    <div class="bottom-btn" id="login-btn">
        <div class="text">
            SIGN IN
        </div>
        <img class="arrow" src="../resource/arrow.svg"/>
    </div>
    <div class="bottom-append-info">
        <a href="/#/register">
            Create an account?
        </a>
    </div>
</div>
