<div class="page-me">
    <div class="userprofile-headshot">
        <div class="avatar"></div>     
    </div>
<div class="userprofile-username border-card">A</div>
    
    <div class="userprofile-card border-card">
        <div class="userprofile-text">My Status</div>
        <div class="ok-status">OK</div>
    </div>
    <div class="userprofile-card border-card">
            <div class="userprofile-text">User Guide</div>
            <div class="userguide-btn" id="userguide-btn">
                    <a href="/#/userguide">
                        <img class="arrow" src="../resource/arrow.svg"/>
                    </a>
            </div>
    </div>
    <div class="userprofile-card border-card">
            <div class="logout-btn" id="logout-btn">
                <a href="/#/logout">Logout</a>
            </div>
    </div>
</div>
