<div class="page-me">
    <div class="avatar-username">
        <div class="avatar"></div>
        <div class="username">Alex</div>
    </div>
    <div class="me-page-menus">
        <div class="single-menu common-list-item">
            <div class="menu-text">My Status</div>
            <div class="status">
                OK
            </div>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item">
            <div class="menu-text">User Guide</div>
            <img src="../resource/gray-right-arrow.svg"/>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item">
            <div class="menu-text">Logout</div>
        </div>
    </div>
    <div class="_blank_80height"></div>
</div>
