<div class="public-wall">
    <div class="header-section">
        <h1 class="top-title">Public Wall</h1>
        <img class="search-icon" src="../resource/search.svg" />
    </div>
    <div id="all-chats">
        <div class="single-chat">
            <div class="user-title"></div>
            <div class="message-content"></div>
            <div class="message-time"></div>
        </div>
        <div class="right-thin-line"></div>
    <div class="_blank_80height"></div>
    <div id="message-input-group" class="message-input-group">
        <input id="message-input-field" name="message" type="text" class="message-input" placeholder="Send Message..." required="" autocomplete="off">
        <button id="send-button" class="send-message-btn" type="submit">Send</button>
    </div>
</div>
</div>