<div class="page-register page">
    <h1 class="top-title">Join ESN now!</h1>
    <div class="dash-under-title"></div>
    <div class="form-item">
        <div class="title">User Name</div>
        <div class="input-container">
            <input class="input" type="text" id="username"/>
        </div>
        <div class="underline"></div>
        <div class="error-hint" id="username-hint"></div>
    </div>
    <div class="form-item">
        <div class="title">Password</div>
        <div class="input-container">
            <input class="input" type="password" id="password"/>
        </div>
        <div class="underline"></div>
        <div class="error-hint" id="password-hint"></div>
    </div>
    <div class="form-item last-item">
        <div class="title">Confirm Password</div>
        <div class="input-container">
            <input class="input" type="password" id="confirm-password"/>
        </div>
        <div class="underline"></div>
        <div class="error-hint" id="confirm-password-hint"></div>
    </div>
    <div class="bottom-btn" id="register-btn">
        <div class="text">
            SIGN UP
        </div>
        <img class="arrow" src="../resource/arrow.svg"/>
    </div>
    <div class="bottom-append-info">
        <a href="/#/login">
            Already have account?
        </a>
    </div>
</div>
