<div class="page-announcement">
    <div class="header-section">
        <h1 class="top-title">Announcement</h1>
        <img class="search-icon" src="../resource/search.svg"/>
    </div>
    <div class="new-announcement-tip" id="new-announcement-tip">New Announcement</div>
    <div id="all-announcement"></div>
    <div class="input-container">
            <input type="text" id="announcement-input" placeholder="Type your announcement"/>
            <div class="send-btn" id="send-btn">SEND</div>
    </div>
</div>