<div class="page-directory">
    <div class="header-section">
        <h1 class="top-title">My Directory</h1>
        <img class="search-icon" src="../resource/search.svg"/>
    </div>
    <div class="search-component">
        <div class="search-options" id="search-options">
                <div class="all-checkbox checkbox" id="all-checkbox" value="selected"></div>
                <div class="all-search text">All Users</div>
                <div class="doctor-checkbox checkbox" id="doctor-checkbox" value="unselected"></div>
                <div class="doctor-search text">All Doctors</div>
        </div>
    </div>
    <div class="list" id="directory-list">
            <div class="content" id="user-directory"></div>
    </div>
    <div class="_blank_80height"></div>
</div>
