<div class="page-information">
    <div class="navbar-header">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
        <div class="navbar-title" id="single-chat-navbar-title">Settings</div>
    </div>
    <div class="header-section">
        
    </div>
    <div class="information-page-menus">
        <div class="list-item">
            <div class="menu-text">Full Name</div>
            <div class="input-container"> 
                <input type="text" class="info-input"/>
            </div>
        </div>
        <div class="right-thin-line"></div>

        <div class="list-item">
            <div class="menu-text">Phone Number</div>
            <div class="input-container">
                <input type="text" class="info-input"/>
            </div>
        </div>
        <div class="right-thin-line"></div>

        <div class="list-item">
            <div class="menu-text">Address</div>
            <div class="input-container">
                <input type="text" class="info-input"/>
            </div>
        </div>  
        <div class="right-thin-line"></div>

        <div class="list-item">
            <div class="menu-text">Emergency contact number</div>
            <div class="input-container">
                <input type="text" class="info-input"/>
            </div>
        </div>  
        <div class="right-thin-line"></div>

        <div class="list-item">
            <div class="menu-text">Self Introduction</div>
            <div class="input-container">
                <input type="text" class="info-input"/>
            </div>
        </div>  
        <div class="right-thin-line"></div>

        <div class="list-item" id="logout-menu">
            <div class="menu-text">People to share</div>
            <div class="select-button">Select</div>
        </div>  
        <div class="right-thin-line"></div>
    </div>

    <div class="submit-choice">
        <div class="cancel-button choice">Cancel</div>
        <div class="update-button choice">Update</div>
    </div>
    <div class="_blank_80height"></div>
</div>
