<div class="info-page">
    <div class="navbar-header">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
        <div class="navbar-title" id="single-chat-navbar-title">Info</div>
    </div>
    <div class="header-section"> </div>
        
    <div class="information-page-menus">
        <div class="list-item" id="fullName">
            <div class="menu-text">Full Name</div>
            <div class="info-container"> 
            </div>
        </div>
        <div class="right-thin-line"></div>

        <div class="list-item" id="updateInfo">
            <div class="menu-text">Phone Number</div>
            <div class="info-container">
            </div>
        </div>
        <div class="right-thin-line"></div>

        <div class="list-item" id="logout-menu">
            <div class="menu-text">Address</div>
            <div class="info-container"> 
            </div>
        </div>  
        <div class="right-thin-line"></div>

        <div class="list-item" id="logout-menu">
            <div class="menu-text">Emergency contact number</div>
            <div class="info-container"> 
            </div>
        </div>  
        <div class="right-thin-line"></div>

        <div class="list-item" id="logout-menu">
            <div class="menu-text">Self Introduction</div>
            <div class="info-container"> 
            </div>
        </div>  
        <div class="right-thin-line"></div>

    </div>

    <div class="send-choice">
        <div class="message-button choice">Send Message</div>
    </div>
    <div class="_blank_80height"></div>
</div>
