<div class="page-me">
    <div class="avatar-username">
        <div class="avatar" id="page-me-avatar"></div>
        <div class="username" id="page-me-username"></div>
    </div>
    <div class="me-page-menus">
        <div id="user-status" class="single-menu common-list-item">
            <div class="menu-text">My Status</div>
            <div class="status" id="page-me-status">
                OK
            </div>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item" id="user-guide-entrance">
            <div class="menu-text">User Guide</div>
            <img src="../resource/gray-right-arrow.svg"/>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item" id="updateInfo">
            <div class="menu-text">Update Info</div>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item" id="administer">
            <div class="menu-text">Administer</div>
        </div> 
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item" id="logout-menu">
            <div class="menu-text">Logout</div>
        </div>  
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item" id="pref-help-center">
            <div class="menu-text" id="pref-menu">Preferred Help Centers</div>
        </div>
        <div class="right-thin-line" style="margin-bottom: 2%;"></div>
        <label class="search-label">Nearby Help Search</label>
        <div class="search-options" id="search-options">
            <div class="hospital-checkbox checkbox" id="hospital-checkbox" value="unselected"></div>
            <div class="private-search text">Hospital</div>
            <div class="police-checkbox checkbox" id="police-checkbox" value="unselected"></div>
            <div class="public-search text">Police</div>
            <div class="fire-station-checkbox checkbox" id="fire-station-checkbox" value="unselected"></div>
            <div class="public-search text">Fire Station</div>
            <div class="search-icon" id="search-icon-help-center">
                <img src="../resource/search.svg"/>
            </div>
        </div>
        <div class="right-thin-line"></div>
    </div>
    <div class="_blank_80height"></div>
</div>
