<div class="page-post-announcement page">
    <div class="navbar-header">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
        <div class="navbar-title" id="post-announcement-navbar-title"></div>
    </div>
    <div class="content">
        <div class="section-title">Title</div>
        <input type="text" class="post-title-input" id="post-announcement-title"
               placeholder="Announcement Title" />
        <div class="section-title">Content</div>
        <textarea id="post-announcement-content" placeholder="Type anything here"></textarea>
    </div>
    <div class="send-announcement" id="send-announcement-btn">Send</div>
</div>
