<div class="post-announcement page">
    <div class="input-container">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
    </div>
    <label class="post-announcement-title">Title</label>
    <input type="text" class="post-title-input" id="post-announcement-title"
            placeholder="Announcement Title Here" />
    <div>
        <label class="post-announcement-content">Content</label>
        <textarea id="post-announcement-content" rows="6" placeholder="Type anything here"></textarea>
    </div>
    <div class="send-announcement" id="send-announcement-btn">Send</div>
</div>