<div class="preferred-help-centers">
    <div class="navbar-header">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
        <div class="navbar-title" id="nearby-search-navbar-title"></div>
    </div>
    <div class="header-section preferred-help-center">
        <h1 class="top-title">Preferred Help Centers</h1>
    </div>
    <label class="no-help-center" id="no-help-center" style="display:none; margin-left: 30%">No Preferred Centers</label>
    <div id="all-help-centers">
        <div class="_blank_80height" id="blank-help-center"></div>
    </div>
    <div class="_blank_80height"></div>
    <div class="add-medical-id" id="add-medical-id">
        <img src="../resource/plus.svg" />
    </div>
</div>