<div class="page-profile">
    <div class="navbar-header padding-20">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
        <div class="navbar-title" id="single-profile-navbar-title">Directory</div>
    </div>
    <div class="avatar-username">
        <div class="avatar" id="page-me-avatar"></div>
        <div class="username" id="page-me-username"></div>
    </div>
    <div class="me-page-menus">
        <div id="user-status" class="single-menu common-list-item">
            <div class="menu-text">User Status</div>
            <div class="status" id="page-me-status">
                OK
            </div>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item" id="message-menu">
            <div class="menu-text">Send A Message</div>
            <img src="../resource/gray-right-arrow.svg"/>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item" id="info-menu">
            <div class="menu-text" id="info-menu-text">User Info</div>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item" id="private-doctor-menu">
            <div class="menu-text" id="private-doctor-menu-text">Add Private Doctor</div>
        </div>
    </div>
    <div class="_blank_80height"></div>
</div>
