<div class="search-announcement page">
        <div class="input-container">
            <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
            <input type="text" id="search-announcement" placeholder="Search for an announcement"/>
            <img class="announcement-search-icon" src="../resource/search.svg"/>
        </div>         
        <div class="all-announcement" id="all-announcement"></div>   
        <div class='button-div'>
            <div class="show-more" id="show-more">view more </div>
        </div>  
    </div>
    