<div class="page-search-nearby-results">
    <div class="navbar-header">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
        <div class="navbar-title" id="nearby-search-navbar-title"></div>
    </div>
    <div class="header-section nearby-help-center">
        <h1 class="top-title">Nearby Help Centers</h1>
    </div>
    <div id="all-help-centers">
        <div class="_blank_80height" id="blank-help-center"></div>
    </div>
    <div class="_blank_80height"></div>
    <div class="add-pref-btn" id="add-pref-btn">
        <img src="../resource/plus.svg" />
    </div>
</div>