<div class="search-message page">
    <div class="input-container">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
        <input type="text" id="search-message" placeholder="Search for a message"/>
        <img class="message-search-icon" src="../resource/search.svg"/>
    </div>
    <div class="search-options">
        <div class="private-checkbox checkbox" value="unselected"></div>
        <div class="private-search textbox">Private only</div>
        <div class="public-checkbox checkbox" value="unselected"></div>
        <div class="public-search textbox">Public only</div>
    </div>
                
    <div class="bubble">
        <div class="bubble-wrap" id="bubble-wrap">
            <div class='blank-bubble' id="blank-bubble"></div>
            <div class='button-div'>
                <div class="show-more" id="show-more">view more </div>
            </div>  
        </div>
    </div>
</div>
