<div class="page-information">
    <div class="navbar-header">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
        <div class="navbar-title" id="single-chat-navbar-title">New Profile</div>
    </div>
    <div class="header-section">
        
    </div>
    <div class="information-page-menus">
        <div class="list-item">
            <div class="menu-text">Username</div>
            <div class="input-container"> 
                <input type="text" class="info-input"/>
            </div>
            <div class="error-hint" id="username-hint"></div>
        </div>
        <div class="right-thin-line"></div>

        <div class="list-item">
            <div class="menu-text">Password</div>
            <div class="input-container">
                <input type="text" class="info-input"/>
            </div>
            <div class="error-hint" id="password-hint"></div>
        </div>
        <div class="right-thin-line"></div>

        <div class="list-item">
            <div class="menu-text">Privilege Level</div>
            <div class="privilege-options" id="privilege-options">
                <div class="citizen privilege-class">
                    <div class="privilege-checkbox checkbox" id="citizen-checkbox" value="selected"></div>
                    <div class="citizen text">Citizen</div>
                </div>
                <div class="coordinator privilege-class">
                    <div class="privilege-checkbox checkbox" id="coordinator-checkbox" value="unselected"></div>
                    <div class="coordinator text">Coordinator</div>
                </div>
                <div class="administer privilege-class">
                    <div class="privilege-checkbox checkbox" id="administer-checkbox" value="unselected"></div>
                    <div class="administer text">Administer</div>
                </div>
            </div>
        </div>  
        <div class="right-thin-line"></div>

        <div class="list-item">
            <div class="menu-text">Account Status</div>
            <div class="status-options" id="status-options">
                <div class="active status-class">
                    <div class="status-checkbox checkbox" id="active-checkbox" value="selected"></div>
                    <div class="active text">Active</div>
                </div>
                <div class="inactive status-class">
                    <div class="status-checkbox checkbox" id="inactive-checkbox" value="unselected"></div>
                    <div class="inactive text">Inactive</div>
                </div>
            </div>
        </div>  
        <div class="right-thin-line"></div>

    </div>

    <div class="submit-choice">
        <div class="cancel-button choice">Cancel</div>
        <div class="update-button choice">Update</div>
    </div>
    <div class="_blank_80height"></div>
</div>
