<div class="info-page">
    <div class="navbar-header">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
        <div class="navbar-title" id="single-chat-navbar-title">Info</div>
    </div>
    <div class="header-section"> </div>
        
    <div class="information-page-menus">
        <div class="list-item" id="user-name">
            <div class="menu-text">Username</div>
            <div class="info-container"> 
            </div>
        </div>
        <div class="right-thin-line"></div>

        <div class="list-item" id="password">
            <div class="menu-text">Password</div>
            <div class="info-container">
            </div>
        </div>
        <div class="right-thin-line"></div>

        <div class="list-item" id="privilege-level">
            <div class="menu-text">Privilege Level</div>
            <div class="info-container"> 
            </div>
        </div>  
        <div class="right-thin-line"></div>

        <div class="list-item" id="account-status">
            <div class="menu-text">Account Status</div>
            <div class="info-container"> 
            </div>
        </div>  
        <div class="right-thin-line"></div>

    </div>

    <div class="send-choice">
        <div class="message-button choice">Change</div>
    </div>
    <div class="_blank_80height"></div>
</div>